body {
    background-color: #bae4f8 !important;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.291),
        rgba(235, 255, 250, 0.05)
      ),
      url(./images/sun.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }